<mat-toolbar>
  <div class="header-buttonsNav">
    <button>
      <span>Home</span>
    </button>
    <button>
      <span>Contact</span>
    </button>
    <button>
      <span>About Us</span>
    </button>
  </div>
  <div class="logo">
    <img src="assets/img/logo.png" alt="logo" />
  </div>
  <span class="spacer"></span>
  <div class="div-headerbutton">
    <div class="cart-icon" [matMenuTriggerFor]="cartMenu">
      <div class="cart-count" *ngIf="cartItems.length > 0">
        {{ cartItems.length }}
      </div>
      <i
        class="fas fa-cart-shopping"
        matTooltip="Carrinho"
        (click)="showProductTooltip()"
      ></i>
    </div>
    <div class="search-icon">
      <i class="fas fa-magnifying-glass"></i>
    </div>
  </div>
</mat-toolbar>

<mat-menu #cartMenu="matMenu">
  <ng-container *ngIf="cartItems.length === 0; else cartItemsSection">
    <h3 class="empty-cart-message">Carrinho vazio</h3>
  </ng-container>
  <ng-template #cartItemsSection>
    <div class="cart-items">
      <button mat-menu-item *ngFor="let product of cartItems">
        <li class="cart-li">
        <img [src]="product.img" alt="Product Image" class="menu-item-image" />
        <div class="menu-item-details">
          <p>{{ product?.nameItem }}</p>
          <p>{{ product?.value }}</p>
        </div>
        <button mat-icon-button (click)="removeFromCart(product)">
          <i class="fa-sharp fa-solid fa-trash"></i>
        </button>
      </li>
      </button>
    </div>
  </ng-template>
</mat-menu>
