.mat-toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    background-color: var(--primary);
}

.search-icon {
    color: #dad0d0;
}
.cart-icon {
    cursor: pointer;
    color: #dad0d0;
}

.spacer {
    flex: 1 1 auto;
}

.logo img {
    width: 79px;
    height: 79px;
    margin-left: 126px;
    object-fit: cover;
}

.product-tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    max-height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.cart-icon:hover .product-tooltip {
    display: block;
}


.empty-cart-message {
    color: #999;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
}

.div-headerbutton {
    border-left: 1px solid #b7b1b1;
    width: 100px;
    height: 56%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-buttonsNav {
    display: flex;
    width: 30%;
    gap: 20px;
}

.header-buttonsNav button {
    color: #dad0d0;
    background-color: transparent;
    border: none;
    font-size: 14px;
}

button span {
    font-family: 'Montserrat', sans-serif;
}