<div class="slider">
  <div class="slide">
    <img src="assets/img/Home.png" />
    <div class="overlay"></div>
    <div class="image-text">Impressione a si mesmo!</div>
    <div class="image-text2">
      Experimente bolos de sabor raro que ira mudar sua perspectiva do que é
      delicioso.
    </div>
  </div>
  <div class="slide">
    <img src="assets/img/Home2.png" />
    <div class="overlay"></div>
    <div class="image-text">Texto da Imagem 2</div>
  </div>
  <div class="slide">
    <img src="assets/img/Home4.png" />
    <div class="overlay"></div>
    <div class="image-text">Texto da Imagem 3</div>
  </div>
</div>
