.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.slide {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.image-text {
    position: absolute;
    top: 37%;
    left: 28%;
    transform: translate(-50%, -50%);
    font-family: 'Great Vibes', cursive;
    font-size: 5vw;
    z-index: 2;
    color: var(--pink-secundary);
}

.image-text2 {
    width: 46%;
    position: absolute;
    top: 48%;
    left: 32%;
    transform: translate(-50%, -50%);
    color: #d1c5c5;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    z-index: 2;
}

@media (max-width: 519px) {
    .slide img {
        height: 283px;
    }

    .image-text {
        font-size: 6vw;
    }

    .image-text2 {
        width: 49%;
        font-size: 2.5vw;
    }
}