<div class="slider">
  <div class="slide">
    <img
      src="https://imgur.com/a/6iuQkeA.png"
    />
    <div class="overlay"></div>
    <div class="image-text">Impressione a si mesmo!</div>
    <div class="image-text2">
      Experimente bolos de sabor raro que ira mudar sua perspectiva do que é
      delicioso.
    </div>
  </div>
  <div class="slide">
    <img
      src="https://imgur.com/sAUY3GH.png"
    />
    <div class="overlay"></div>
    <div class="image-text">Delicie-se com cupcakes!</div>
    <div class="image-text2">
      Sabores únicos e decorações encantadoras que vão te surpreender.
    </div>
  </div>
  <div class="slide">
    <img
      src="https://imgur.com/axXigZM.png"
    />
    <div class="overlay"></div>
    <div class="image-text">Sofisticação dos macarons</div>
    <div class="image-text2">
      Uma combinação perfeita de texturas e sabores refinados para os paladares
      mais exigentes.
    </div>
  </div>
</div>
