<div class="slider">
  <div class="slide">
    <img
      src="https://drive.google.com/uc?id=1eTBVW_mXgZRcxneam8Yjaq0Db_WebIk5"
    />
    <div class="overlay"></div>
    <div class="image-text">Impressione a si mesmo!</div>
    <div class="image-text2">
      Experimente bolos de sabor raro que ira mudar sua perspectiva do que é
      delicioso.
    </div>
  </div>
  <div class="slide">
    <img
      src="https://drive.google.com/uc?id=1yRvRbdSLxpdC01F_ApGr1OLxbsVdJ9Ey"
    />
    <div class="overlay"></div>
    <div class="image-text">Delicie-se com cupcakes!</div>
    <div class="image-text2">
      Sabores únicos e decorações encantadoras que vão te surpreender.
    </div>
  </div>
  <div class="slide">
    <img
      src="https://drive.google.com/uc?id=1UvUlnbWcOTTFfIuKUk3B1r48TkXtXEBU"
    />
    <div class="overlay"></div>
    <div class="image-text">Sofisticação dos macarons</div>
    <div class="image-text2">
      Uma combinação perfeita de texturas e sabores refinados para os paladares
      mais exigentes.
    </div>
  </div>
</div>
