.popular-products {
  display: flex;
  position: relative;
  margin-top: 129px;
  gap: 48px;
  background-color: #2e1406;
  padding: 0px 37px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cardspopular {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 50px;
}

.popular-info {
  width: 29%;
}

.wave-container {
  position: absolute;
  bottom: 99%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.wave-container2 {
  position: absolute;
  bottom: -99%;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 200%;
  height: auto;
  z-index: -1;
  animation: waveAnimation 15s linear infinite;
}

@keyframes waveAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: var(--pink-secundary);
  cursor: pointer;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.product {
  text-align: center;
  transition: transform 0.5s;
  background-color: white;
  border-radius: 6px;
  padding: 14px 14px 5px;
}

.product.active {
  display: block;
  transform: scale(1.2);
}

.product img {
  width: 214px;
  height: 182px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.stars {
  margin-bottom: 10px;
  color: var(--gray0);
  font-size: 11px;
}

.fas.fa-star.filled {
  color: var(--pink-secundary)
}

.product-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h3 {
  font-size: 14px;
  color: var(--pink-secundary);
}

h1 {
  color: var(--pink-secundary);
  font-size: 30px;
}

.popular-infodescription {
  color: var(--gray0);
  font-size: 14px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 840px) {

  .popular-products {
    flex-direction: column;
    justify-content: center;
    margin-top: 67px;
    gap: 9px;
  }

  .popular-info {
    width: 100%;
  }

  .product img {
    width: 200px;
    height: 166px;
  }

  .cardspopular {
    display: flex;
    height: 410px;
    width: 100%;
    gap: 34px;
    padding: 20px;
    overflow: auto;
    flex-direction: row;
    justify-content: flex-start;
  }

  .cardspopular::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }

  .cardspopular::-webkit-scrollbar-track {
    background: #2e1406;
  }

  .cardspopular::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 11px;
  }

  .cardspopular::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media screen and (min-width: 800px) {
  .wave-container2 {
    bottom: -99%;
  }

  .product img {
    width: 178px;
    height: 167px;
  }
}

@media screen and (max-width: 1092px) {
  .cardspopular {
    display: flex;
    height: 342px;
    width: 100%;
    gap: 34px;
    padding: 20px;
    overflow: auto;
    flex-direction: row;
    justify-content: flex-start;
  }

  .wave-container2 {
    bottom: -43%;
  }

  .cardspopular::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }

  .cardspopular::-webkit-scrollbar-track {
    background: #2e1406;
  }

  .cardspopular::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 11px;
  }

  .cardspopular::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media screen and (max-width: 900px) {
  .wave-container2 {
    bottom: -26%;
  }
}

@media screen and (max-width: 566px) {
  .wave-container2 {
    bottom: -17%;
  }
}