<div class="sobre-nos">
  <div class="sobre-nos-text">
    <h2 class="sobre-nos-titulo">Sobre Nós</h2>
    <p class="sobre-nos-descricao">
      Somos uma equipe apaixonada por criar os bolos mais deliciosos e incríveis
      para tornar seus momentos especiais ainda mais memoráveis. Com anos de
      experiência e dedicação, nossa missão é fornecer bolos artesanais feitos
      com ingredientes de alta qualidade e um toque de criatividade.
    </p>
    <p class="sobre-nos-descricao">
      Nossa equipe de confeiteiros talentosos está sempre em busca de novas
      inspirações e tendências para oferecer uma variedade de sabores e designs
      únicos. Desde bolos clássicos até criações personalizadas, estamos prontos
      para transformar suas ideias em realidade doce.
    </p>
  </div>

  <div class="sobre-nos-img">
    <div class="div-img">
      <div class="sobre-nos-img1">
        <img
          src="https://imgur.com/YF9AgnA.png"
          alt=""
        />
      </div>
      <div class="sobre-nos-img2">
        <img
          src="https://imgur.com/q9nFPVe.png"
          alt=""
        />
      </div>
    </div>

    <div class="div-img">
      <div class="sobre-nos-img2">
        <img
          src="https://imgur.com/LU75al5.png"
          alt=""
        />
      </div>
      <div class="sobre-nos-img1">
        <img
          src="https://imgur.com/weFC6tk.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
