<div class="sobre-nos">
  <div class="sobre-nos-text">
    <h2 class="sobre-nos-titulo">Sobre Nós</h2>
    <p class="sobre-nos-descricao">
      Somos uma equipe apaixonada por criar os bolos mais deliciosos e incríveis
      para tornar seus momentos especiais ainda mais memoráveis. Com anos de
      experiência e dedicação, nossa missão é fornecer bolos artesanais feitos
      com ingredientes de alta qualidade e um toque de criatividade.
    </p>
    <p class="sobre-nos-descricao">
      Nossa equipe de confeiteiros talentosos está sempre em busca de novas
      inspirações e tendências para oferecer uma variedade de sabores e designs
      únicos. Desde bolos clássicos até criações personalizadas, estamos prontos
      para transformar suas ideias em realidade doce.
    </p>
  </div>

  <div class="sobre-nos-img">
    <div class="div-img">
      <div class="sobre-nos-img1">
        <img
          src="https://drive.google.com/uc?id=1yj5eabuJVGNIrZlJlQXzlXi72AhB2cm_"
          alt=""
        />
      </div>
      <div class="sobre-nos-img2">
        <img
          src="https://drive.google.com/uc?id=1I27K6s05fq6C9hYY8iBOCW8zqyk-FEZU"
          alt=""
        />
      </div>
    </div>

    <div class="div-img">
      <div class="sobre-nos-img2">
        <img
          src="https://drive.google.com/uc?id=176_t-Ye00G2hEVJmnhNAmtLIEUqaKzGN"
          alt=""
        />
      </div>
      <div class="sobre-nos-img1">
        <img
          src="https://drive.google.com/uc?id=1dvjD0Fqb_RBfWizD_Jekb7YGhBjGMHwI"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
