<footer>
  <div class="social-div">
    <img
      src="https://drive.google.com/uc?id=1Yi_RYcFn3ZChVCIdxP1OYViiB2w6967w"
      alt=""
    />
    <h2>feel free to follow us on our social media</h2>
    <div class="social-icons">
      <a href="link-do-facebook" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="link-do-whatsapp" target="_blank">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a href="link-do-instagram" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="link-do-twitter" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
  <div class="div-direitos">
    <h1>Gostaria de falar conosco?</h1>
    <button class="enter-button">Entre em contato</button>
    <p>Direitos autorais © 2023 SweetCake. Todos os direitos reservados.</p>
  </div>
</footer>
